.is-invalid {
    border: 2px solid #ff0000;
}

.is-valid {
    border: 2px solid #00ff00;
}

.error-message {
    color: red;
    font-size: 0.8em;
}

#contenedorProductos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
    padding: 20px;
}